input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    padding-left: 32px;
    font-size: 20px;

}

form {
    width:100%;
    height: 64px;
    display: flex;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    background-color: #fff;

}



.searchButton {
    background-color: #fff;
    border: none;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    margin-left: 16px;
    width: 64px !important;
    height: 64px !important;
    cursor: pointer;
}
.searchContainer{
   
    width: 100%;
    
    background-color: transparent;
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0px !important;
    padding-right: 0 !important;
    z-index: 1000;

}